body{
    color: #f9f6f6 !important;
    background-color: black;
  
   
}
#serImg{
    border-radius: 2%;
}
#search_container{
    position: relative;
    margin-top: 4%;
    overflow: hidden;
}
#se{
   position:relative;
   overflow: hidden;
   margin-top: 2%;
   cursor: pointer;
}
.layerName{
position: absolute;
top: 100%;
background-color: rgba(201, 225, 225,.7);
color: black;
height: 100%;
border-radius: 2%;
width: 93%;
transition: 1s;

}
#se:hover .layerName{
    top: 0%;
    
}
.namee{
    position: absolute;
    top: 60%;
    left: 19%;
   
    font-size: 50px; 
}
.tags{
    height: 35px;
    background-color: #b6effb;
    color: black;
    text-align: center;
    padding: 5px;
}
a{
 text-decoration: none;
 color: white;
}
.nameee{
    margin-top: 30%;
}